<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Upload Image</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function startTask() {
            var formData = new FormData(document.getElementById('uploadForm'));
            fetch('/upload', {
                method: 'POST',
                body: formData,
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Failed to start task: Server responded with status ' + response.status);
                }
            })
            .then(data => {
                if (data.task_id) {
                    window.location.href = "/processing/" + data.task_id;
                } else {
                    throw new Error('Response JSON from server does not contain task_id');
                }
            })
            .catch(error => {
                console.error('Error starting task:', error);
                alert('Error starting task: ' + error.message);
            });
        }
    </script>
</head>
<body>
    <div class="container">
    <h1>Upload Image for Age Estimation</h1>
    <form id="uploadForm" onsubmit="event.preventDefault(); startTask();">
        <h2><label for="image">Select image:</label></h2>
        <input type="file" id="image" name="image" required>
        <label for="age">Enter your actual age:</label>
        <input type="number" id="age" name="age" required min="0" placeholder="Your age">
        <input type="submit" value="Upload">
    </form>
</div>
</body>
</html>
